h2 {
    color: rgb(167, 193, 228);
}

/* apabila di sini 2 maka perntahkan h2 agar kode terbaca */

h3 {
    color: rgb(226, 116, 180);
}

/* berfungsi untuk menghasilkan warna berdasarkan konsep warna RGB pada komputer. */

p {
    color: rgba(204, 118, 200, 0.7);
}
/* sama ahalnya dengan dengan rbg, bedanya di rbga kia bisa mengatur trasparan di peramenter tersebut */